<nav class="bg-red-600 shadow-lg fixed top-0 left-0 z-40 w-full h-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-12">
      <div class="flex items-center w-full">
        <a href="/" class="text-white font-bold text-xl" style="font-family: 'Agency FB'">London Is Red</a>
        <a href="/create-item/" class="ml-4 text-white hover:text-gray-200">Add Item</a>
        <p class="ml-auto ml-4 text-white hover:text-gray-200">Muhathir - PBP D</p>
      </div>
    </div>
  </div>
</nav>
