{% extends 'base.html'%}
{% load static %}
{% block meta %}
<title>Edit Item</title>
<meta name="description" content="Edit your item information.">
{% endblock meta %}

{% block content %}
<div class="pt-16 min-h-screen bg-cover bg-center flex flex-col justify-center items-center"  style="background-image: url('{% static 'images/wallpaper.jpg' %}')">
    <div class="bg-white bg-opacity-90 p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Edit Item</h2>
        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700">I Agree</button>
        </form>
    </div>
</div>
{% endblock content %}